black
isort
sphinx==3.4.3 
twine 
wheel

flake8
mypy

codecov
pytest
pytest-benchmark
pytest-clarity
pytest-cov
pytest-datafiles
pytest-docker-tools
pytest-sugar
pytest-timeout
pytest-xdist[psutil]
tox

-r requirements.txt s